c:\Users\robo\Documents\BUTS\Praktiskie_darbi\05 Programmas koda rakstīšana (Kodēšana)\PB1_PD20 Vienību integrācija un piegāde\PB1_PB1_PD20_Simkuns_Arturs\Pielikumi\projekts\.gitignore__pycache__/
.pytest_cache/
*.pyc
